{% extends "base.html.twig" %}

{% block title %}Actor{% endblock %}

{% block head %}

{% endblock %}

{% block content %}

    {% for actor in actors %}
        <p>{{ actor.firstName }}</p>
    {% endfor %}

{% endblock %}