<!DOCTYPE html>
<html lang="fr">
<head>
    {% block head %}
        <title>Ciné Site - {% block title %}{% endblock %}</title>
    {% endblock %}
</head>
<body>
    
</body>

    <div id="content">{% block content %}{% endblock %}</div>

</html>